:root {
    --dark: rgba(5, 5, 5, 1);
    --white: rgba(255, 255, 255, 1);
    --gray: rgba(134, 134, 134, 1);
    --light: rgba(185, 200, 243, 1);
    --variable-collection-dark: rgba(0, 8, 66, 1);
  }
  