.news {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .news .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 3751px;
    position: relative;
  }
  
  .news .overlap {
    position: absolute;
    width: 1449px;
    height: 2236px;
    top: 1090px;
    left: -9px;
    background: linear-gradient(180deg, rgb(231, 240, 255) 0%, rgba(232, 241, 255, 0.47) 100%);
  }
  
  .news .news-updates {
    position: absolute;
    height: 67px;
    top: 39px;
    left: 555px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: 67px;
    white-space: nowrap;
  }
  
  .news .text-wrapper {
    color: #2aa7ff;
  }
  
  .news .span {
    color: #1b3c74;
  }
  
  .news .rectangle {
    position: absolute;
    width: 1440px;
    height: 2096px;
    top: 140px;
    left: 9px;
    background-color: var(--light);
    opacity: 0.2;
  }
  
  .news .div-elementor-widget {
    position: absolute;
    width: 1140px;
    height: 678px;
    top: 61px;
    left: 155px;
  }
  
  .news .overlap-group {
    position: absolute;
    width: 1197px;
    height: 523px;
    top: 125px;
    left: -11px;
  }
  
  .news .div-row {
    top: 45px;
    left: 0;
    position: absolute;
    width: 1162px;
    height: 478px;
  }
  
  .news .div-blog-single {
    position: absolute;
    width: 363px;
    height: 463px;
    top: 0;
    left: 12px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid;
    border-color: #00000012;
  }
  
  .news .image {
    width: 363px;
    height: 295px;
    top: 3px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-2.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .overlap-group-2 {
    position: relative;
    height: 478px;
  }
  
  .news .img {
    position: absolute;
    width: 363px;
    height: 295px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .news .rectangle-2 {
    position: absolute;
    width: 362px;
    height: 186px;
    top: 292px;
    left: 1px;
    background-color: #d9d9d9;
  }
  
  .news .image-2 {
    width: 363px;
    height: 295px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  .news .frame {
    display: flex;
    flex-direction: column;
    width: 345px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 309px;
    left: 18px;
  }
  
  .news .ul {
    position: relative;
    width: 363.33px;
    height: 28px;
    margin-right: -18.33px;
  }
  
  .news .li {
    display: inline-flex;
    align-items: flex-start;
    padding: 0px 1.07px 1px 0px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .news .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #77829d;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .news .div-2 {
    position: absolute;
    width: 1px;
    height: 15px;
    top: 6px;
    left: 75px;
    background-color: #dddddd;
  }
  
  .news .text-wrapper-3 {
    position: absolute;
    height: 27px;
    top: 0;
    left: 85px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #77829d;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .news .group {
    position: relative;
    width: 367.33px;
    height: 108px;
    margin-right: -22.33px;
  }
  
  .news .overlap-group-3 {
    position: absolute;
    width: 363px;
    height: 36px;
    top: 72px;
    left: 0;
  }
  
  .news .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 254px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--gray);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .news .div-post-author {
    position: absolute;
    width: 363px;
    height: 32px;
    top: 0;
    left: 0;
  }
  
  .news .jpg {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-2.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .text-wrapper-5 {
    top: 2px;
    position: absolute;
    height: 27px;
    left: 44px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #1b3c74;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .news .p {
    position: absolute;
    width: 327px;
    height: 64px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #1b3c74;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .news .div-st-blog-single {
    position: absolute;
    width: 363px;
    height: 478px;
    top: 0;
    left: 399px;
  }
  
  .news .div-blog-single-2 {
    position: relative;
    height: 464px;
    left: 1px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid;
    border-color: #00000012;
  }
  
  .news .rectangle-wrapper {
    width: 363px;
    height: 295px;
    top: 3px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-11.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .rectangle-3 {
    position: relative;
    width: 362px;
    height: 186px;
    top: 292px;
    left: 1px;
    background-color: #d9d9d9;
  }
  
  .news .group-2 {
    height: 105px;
    position: relative;
    width: 367.33px;
    margin-right: -22.33px;
  }
  
  .news .text-wrapper-6 {
    position: absolute;
    width: 358px;
    height: 48px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #1b3c74;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .news .overlap-group-4 {
    position: absolute;
    width: 363px;
    height: 36px;
    top: 69px;
    left: 0;
  }
  
  .news .text-wrapper-7 {
    top: 0;
    left: 253px;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--gray);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .news .doctor-x-jpg {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-6.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .overlap-2 {
    position: absolute;
    width: 381px;
    height: 458px;
    top: 6px;
    left: 781px;
    border-radius: 0px 0px 10px 10px;
  }
  
  .news .div-blog-single-3 {
    position: absolute;
    width: 381px;
    height: 458px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid;
    border-color: #00000012;
  }
  
  .news .overlap-group-wrapper {
    width: 381px;
    height: 295px;
    top: 0;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-6.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .image-3 {
    width: 381px;
    height: 295px;
    top: 0;
    object-fit: cover;
    position: absolute;
    left: 0;
  }
  
  .news .group-3 {
    height: 95px;
    position: relative;
    width: 367.33px;
    margin-right: -22.33px;
  }
  
  .news .overlap-group-5 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 56px;
    left: 0;
  }
  
  .news .text-wrapper-8 {
    top: 3px;
    left: 272px;
    position: absolute;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: var(--gray);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 36px;
    text-decoration: underline;
    white-space: nowrap;
  }
  
  .news .jpg-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 3px;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-7.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .text-wrapper-9 {
    top: 5px;
    position: absolute;
    height: 27px;
    left: 44px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #1b3c74;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .news .image-4 {
    width: 381px;
    height: 291px;
    top: 0;
    object-fit: cover;
    position: absolute;
    left: 0;
  }
  
  .news .svg {
    top: 0;
    left: 1146px;
    position: absolute;
    width: 51px;
    height: 65px;
  }
  
  .news .svg-hd-bf {
    top: 607px;
    left: -162px;
    position: absolute;
    width: 51px;
    height: 65px;
  }
  
  .news .vector-wrapper {
    position: relative;
    height: 65px;
  }
  
  .news .vector {
    position: absolute;
    width: 35px;
    height: 61px;
    top: 2px;
    left: 16px;
  }
  
  .news .div-row-2 {
    top: 798px;
    left: 143px;
    position: absolute;
    width: 1162px;
    height: 478px;
  }
  
  .news .div-wrapper {
    width: 363px;
    height: 295px;
    top: 3px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-8.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .jpg-3 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .image-5 {
    width: 363px;
    height: 295px;
    top: 3px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-14.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .text-wrapper-10 {
    position: absolute;
    width: 358px;
    height: 54px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #1b3c74;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .news .jpg-4 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-8.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .image-6 {
    width: 381px;
    height: 295px;
    top: 0;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-7.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .group-4 {
    height: 98px;
    position: relative;
    width: 367.33px;
    margin-right: -22.33px;
  }
  
  .news .overlap-group-6 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 59px;
    left: 0;
  }
  
  .news .jpg-5 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 3px;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-5.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .div-row-3 {
    top: 1363px;
    left: 143px;
    position: absolute;
    width: 1162px;
    height: 478px;
  }
  
  .news .image-7 {
    width: 363px;
    height: 295px;
    top: 3px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-15.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .jpg-6 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-4.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .image-8 {
    width: 363px;
    height: 295px;
    top: 3px;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .jpg-7 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-9.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .image-9 {
    width: 381px;
    height: 295px;
    top: 0;
    border-radius: 8px;
    overflow: hidden;
    background-image: url(./img/image-16.png);
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    left: 0;
  }
  
  .news .jpg-8 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 3px;
    left: 0;
    border-radius: 30px;
    background-image: url(./img/doctor2-80x80-jpg-3.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .news .group-5 {
    position: absolute;
    width: 44px;
    height: 27px;
    top: 1974px;
    left: 707px;
  }
  
  .news .text-wrapper-11 {
    position: absolute;
    height: 27px;
    top: 0;
    left: 0;
    opacity: 0.65;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #77829d;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 27px;
    white-space: nowrap;
  }
  
  .news .overlap-3 {
    position: absolute;
    width: 1440px;
    height: 982px;
    top: 0;
    left: 0;
  }
  
  .news .hero-section {
    position: absolute;
    width: 1440px;
    height: 853px;
    top: 19px;
    left: 0;
  }
  
  .news .overlap-4 {
    position: relative;
    height: 853px;
  }
  
  .news .rectangle-4 {
    position: absolute;
    width: 1440px;
    height: 832px;
    top: 21px;
    left: 0;
    background: linear-gradient(180deg, rgb(231, 240, 255) 0%, rgba(232, 241, 255, 0.47) 100%);
  }
  
  .news .tag-hero {
    position: absolute;
    width: 667px;
    height: 175px;
    top: 161px;
    left: 135px;
  }
  
  .news .welcome-to-gov-d-m {
    position: absolute;
    width: 663px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 31px;
    letter-spacing: 0.62px;
    line-height: 68px;
  }
  
  .news .text-wrapper-12 {
    font-weight: 500;
    color: #102851;
    letter-spacing: 0.19px;
  }
  
  .news .text-wrapper-13 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 56px;
    letter-spacing: 0.63px;
  }
  
  .news .text-wrapper-14 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #2aa7ff;
    font-size: 56px;
    letter-spacing: 0.63px;
  }
  
  .news .text-wrapper-15 {
    position: absolute;
    width: 570px;
    top: 143px;
    left: 2px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #5b6069;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 32px;
  }
  
  .news .pattern {
    position: absolute;
    width: 621px;
    height: 502px;
    top: 106px;
    left: 812px;
  }
  
  .news .hero-image {
    position: absolute;
    width: 709px;
    height: 799px;
    top: 0;
    left: 697px;
  }
  
  .news .overlap-group-7 {
    position: relative;
    height: 799px;
  }
  
  .news .ellipse {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 205px;
    left: 250px;
    background-color: #ffffff;
    border-radius: 8.5px;
    box-shadow: 6px 6px 12px #93939342;
  }
  
  .news .ic {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 161px;
    left: 203px;
    background-color: #ffffff;
    border-radius: 21px;
    box-shadow: 6px 6px 12px #93939342;
  }
  
  .news .light-bulb {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 7px;
    left: 7px;
  }
  
  .news .mask-group {
    position: absolute;
    width: 709px;
    height: 799px;
    top: 0;
    left: 0;
  }
  
  .news .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 14px;
    position: absolute;
    top: 383px;
    left: 454px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 6px 6px 12px #0f27511c;
  }
  
  .news .shield-check {
    position: relative;
    width: 26px;
    height: 26px;
  }
  
  .news .icon {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 3px;
    left: 3px;
  }
  
  .news .text-wrapper-16 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--dark);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .news .button-primary {
    display: inline-flex;
    align-items: flex-start;
    padding: 12px 36px;
    position: absolute;
    top: 400px;
    left: 137px;
    gap: 10px;
    background-color: #000842;
    border-radius: 8px;
  }
  
  .news .text-wrapper-17 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .news .search-bar {
    position: absolute;
    width: 1187px;
    height: 452px;
    top: 530px;
    left: 135px;
  }
  
  .news .overlap-5 {
    position: relative;
    height: 452px;
  }
  
  .news .gov {
    position: absolute;
    width: 1170px;
    height: 429px;
    top: 0;
    left: 0;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: 6px 6px 35px #0f27511c;
  }
  
  .news .u-may-looking-for {
    position: absolute;
    width: 1170px;
    height: 429px;
    top: 23px;
    left: 17px;
  }
  
  .news .form-search {
    position: absolute;
    width: 967px;
    height: 50px;
    top: 47px;
    left: 35px;
  }
  
  .news .overlap-group-8 {
    position: relative;
    width: 965px;
    height: 50px;
    background-color: #fafbfe;
    border-radius: 8px;
    border: 1px solid;
    border-color: #efefef;
  }
  
  .news .search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 15px;
  }
  
  .news .search-something {
    position: absolute;
    top: 14px;
    left: 52px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #abb6c7;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: normal;
  }
  
  .news .button-search {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 121px;
    height: 50px;
    top: 47px;
    left: 1014px;
    background-color: var(--variable-collection-dark);
    border-radius: 8px;
  }
  
  .news .group-6 {
    position: relative;
    width: 93px;
    height: 26px;
    top: 12px;
    left: 12px;
  }
  
  .news .text-wrapper-18 {
    position: absolute;
    top: 1px;
    left: 32px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .news .search-2 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
  }
  
  .news .navbar {
    position: absolute;
    width: 1440px;
    height: 96px;
    top: 40px;
    left: 0;
  }
  
  .news .container {
    display: flex;
    width: 912px;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    position: relative;
    top: 24px;
    left: 393px;
  }
  
  .news .navbar-2 {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .news .text-wrapper-19 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #102851;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .news .text-wrapper-20 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #102851;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .news .button-wrapper {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 130px;
    height: 40px;
  }
  
  .news .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    background-color: #000842;
    border-radius: 8px;
  }
  
  .news .text-wrapper-21 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: normal;
  }
  
  .news .group-wrapper {
    position: absolute;
    width: 239px;
    height: 47px;
    top: 54px;
    left: 100px;
  }
  
  .news .group-7 {
    height: 47px;
  }
  
  .news .group-8 {
    position: relative;
    width: 241px;
    height: 47px;
  }
  
  .news .group-9 {
    position: absolute;
    width: 46px;
    height: 47px;
    top: 0;
    left: 0;
  }
  
  .news .gov-d-m-camerino {
    position: absolute;
    width: 183px;
    top: 13px;
    left: 56px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: normal;
  }
  
  .news .text-wrapper-22 {
    color: #000842;
    letter-spacing: 0.06px;
  }
  
  .news .text-wrapper-23 {
    color: #2aa8ff;
    letter-spacing: 0.06px;
  }
  
  .news .group-10 {
    position: absolute;
    width: 1440px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #1b3c74;
  }
  
  .news .image-10 {
    position: absolute;
    width: 48px;
    height: 60px;
    top: 755px;
    left: 473px;
    object-fit: cover;
  }
  