.contact-us {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .contact-us .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 3263px;
    position: relative;
  }
  
  .contact-us .overlap {
    position: absolute;
    width: 1474px;
    height: 2183px;
    top: 1080px;
    left: -19px;
  }
  
  .contact-us .image {
    position: absolute;
    width: 1474px;
    height: 1727px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(217.37, 221.13, 227.41) 0%, rgba(245.22, 249.05, 255, 0.47) 100%);
  }
  
  .contact-us .p {
    height: 67px;
    top: 49px;
    left: 605px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: transparent;
    font-size: 48px;
    text-align: center;
    line-height: 67px;
    position: absolute;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper {
    color: #1b3c74;
  }
  
  .contact-us .span {
    color: #2aa7ff;
  }
  
  .contact-us .rectangle {
    position: absolute;
    width: 1440px;
    height: 1812px;
    top: 146px;
    left: 19px;
  }
  
  .contact-us .img {
    position: absolute;
    width: 1440px;
    height: 805px;
    top: 870px;
    left: 19px;
  }
  
  .contact-us .gov {
    position: absolute;
    width: 1440px;
    height: 722px;
    top: 228px;
    left: 19px;
  }
  
  .contact-us .image-2 {
    position: absolute;
    width: 48px;
    height: 60px;
    top: 274px;
    left: 106px;
    object-fit: cover;
  }
  
  .contact-us .text-wrapper-2 {
    position: absolute;
    height: 67px;
    top: 273px;
    left: 169px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1b3c74;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 67px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-3 {
    position: absolute;
    width: 320px;
    top: 340px;
    left: 34px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .contact-us .text-wrapper-4 {
    position: absolute;
    height: 67px;
    top: 273px;
    left: 684px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1b3c74;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 67px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-5 {
    position: absolute;
    height: 67px;
    top: 275px;
    left: 1145px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1b3c74;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 67px;
    white-space: nowrap;
  }
  
  .contact-us .admin {
    position: absolute;
    width: 206px;
    top: 340px;
    left: 624px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 15px;
    text-align: right;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .contact-us .text-wrapper-6 {
    font-weight: 700;
  }
  
  .contact-us .text-wrapper-7 {
    font-family: "Manrope-Regular", Helvetica;
  }
  
  .contact-us .monday-friday {
    position: absolute;
    width: 273px;
    top: 342px;
    left: 1089px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #8c8c8c;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27px;
  }
  
  .contact-us .image-3 {
    position: absolute;
    width: 56px;
    height: 58px;
    top: 276px;
    left: 613px;
    object-fit: cover;
  }
  
  .contact-us .image-4 {
    position: absolute;
    width: 1440px;
    height: 959px;
    top: 841px;
    left: 19px;
  }
  
  .contact-us .group {
    position: absolute;
    width: 1120px;
    height: 1085px;
    top: 490px;
    left: 179px;
  }
  
  .contact-us .overlap-group {
    position: relative;
    width: 1324px;
    height: 1473px;
    top: -31px;
    left: -101px;
  }
  
  .contact-us .rectangle-2 {
    position: absolute;
    width: 1190px;
    height: 926px;
    top: 0;
    left: 66px;
  }
  
  .contact-us .vector {
    position: absolute;
    width: 1029px;
    height: 7px;
    top: 149px;
    left: 146px;
    object-fit: cover;
  }
  
  .contact-us .rectangle-3 {
    position: absolute;
    width: 1324px;
    height: 854px;
    top: 619px;
    left: 0;
  }
  
  .contact-us .content {
    display: flex;
    width: 1120px;
    height: 948.81px;
    align-items: flex-start;
    position: absolute;
    top: 134px;
    left: 101px;
    background-color: #ffffff;
  }
  
  .contact-us .column {
    width: 66px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .contact-us .table-cell {
    align-self: stretch;
    width: 100%;
    position: relative;
    flex: 0 0 auto;
  }
  
  .contact-us .table-cell-2 {
    justify-content: center;
    gap: 4px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eaecf0;
  }
  
  .contact-us .checkbox {
    position: relative;
    flex: 0 0 auto;
  }
  
  .contact-us .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    flex-grow: 1;
  }
  
  .contact-us .table-header-cell {
    display: flex;
    height: 44px;
    align-items: center;
    gap: 12px;
    padding: 12px 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #fbfcfc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eaecf0;
  }
  
  .contact-us .table-header {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .contact-us .text {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-xs-medium-font-family);
    font-weight: var(--text-xs-medium-font-weight);
    color: #667084;
    font-size: var(--text-xs-medium-font-size);
    letter-spacing: var(--text-xs-medium-letter-spacing);
    line-height: var(--text-xs-medium-line-height);
    white-space: nowrap;
    font-style: var(--text-xs-medium-font-style);
  }
  
  .contact-us .arrow-down {
    position: relative;
    width: 16px;
    height: 16px;
  }
  
  .contact-us .text-and-supporting-wrapper {
    gap: 12px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eaecf0;
  }
  
  .contact-us .text-and-supporting {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }
  
  .contact-us .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-sm-medium-font-family);
    font-weight: var(--text-sm-medium-font-weight);
    color: #0f1728;
    font-size: var(--text-sm-medium-font-size);
    line-height: var(--text-sm-medium-line-height);
    letter-spacing: var(--text-sm-medium-letter-spacing);
    white-space: nowrap;
    font-style: var(--text-sm-medium-font-style);
  }
  
  .contact-us .div-wrapper {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eaecf0;
  }
  
  .contact-us .text-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-sm-normal-font-family);
    font-weight: var(--text-sm-normal-font-weight);
    color: #667084;
    font-size: var(--text-sm-normal-font-size);
    line-height: var(--text-sm-normal-line-height);
    letter-spacing: var(--text-sm-normal-letter-spacing);
    white-space: nowrap;
    font-style: var(--text-sm-normal-font-style);
  }
  
  .contact-us .column-3 {
    width: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  
  .contact-us .table-header-cell-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 44px;
    background-color: #fbfcfc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #eaecf0;
  }
  
  .contact-us .text-wrapper-8 {
    position: absolute;
    height: 67px;
    top: 517px;
    left: 409px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1b3c74;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 67px;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-9 {
    position: absolute;
    height: 67px;
    top: 517px;
    left: 946px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1b3c74;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 67px;
    white-space: nowrap;
  }
  
  .contact-us .image-5 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 283px;
    left: 1089px;
    object-fit: cover;
  }
  
  .contact-us .section-elementor {
    position: absolute;
    width: 1440px;
    height: 424px;
    top: 1759px;
    left: 19px;
    background-color: #1b3c74;
  }
  
  .contact-us .div-elementor-widget {
    position: relative;
    width: 1143px;
    height: 354px;
    top: 40px;
    left: 177px;
  }
  
  .contact-us .div-elementor-row-wrapper {
    position: absolute;
    width: 1143px;
    height: 59px;
    top: 277px;
    left: 22px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #ffffff1a;
  }
  
  .contact-us .div-elementor-row {
    position: relative;
    height: 28px;
    top: 31px;
  }
  
  .contact-us .copyright-all {
    position: absolute;
    height: 28px;
    top: -2px;
    left: 449px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .contact-us .overlap-2 {
    position: absolute;
    width: 1297px;
    height: 254px;
    top: 0;
    left: 0;
  }
  
  .contact-us .svg {
    position: absolute;
    width: 159px;
    height: 210px;
    top: 44px;
    left: 1138px;
  }
  
  .contact-us .div-elementor-row-2 {
    position: absolute;
    width: 1143px;
    height: 235px;
    top: 0;
    left: 0;
  }
  
  .contact-us .div-elementor-widget-2 {
    width: 359px;
    top: 0;
    left: 13px;
    position: absolute;
    height: 235px;
  }
  
  .contact-us .ul-elementor-icon {
    position: absolute;
    width: 336px;
    height: 104px;
    top: 73px;
    left: 10px;
  }
  
  .contact-us .text-wrapper-10 {
    position: absolute;
    width: 292px;
    height: 28px;
    top: -6px;
    left: -4px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .contact-us .text-wrapper-11 {
    height: 28px;
    top: 41px;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    position: absolute;
    left: 0;
    color: #ffffff;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-12 {
    position: absolute;
    height: 28px;
    top: 90px;
    left: 0;
    font-family: "Roboto-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .contact-us .a-elementor-icon {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 224px;
    left: 10px;
    background-color: #fffffffc;
    border-radius: 17.6px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .contact-us .text-wrapper-13 {
    position: absolute;
    height: 16px;
    top: 9px;
    left: 13px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    font-weight: 400;
    color: #000842;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
  }
  
  .contact-us .a-elementor-icon-2 {
    left: 61px;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 224px;
    background-color: #fffffffc;
    border-radius: 17.6px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .contact-us .text-wrapper-14 {
    position: absolute;
    height: 16px;
    top: 9px;
    left: 10px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    font-weight: 400;
    color: #000842;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .contact-us .a-elementor-icon-3 {
    left: 112px;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 224px;
    background-color: #fffffffc;
    border-radius: 17.6px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .contact-us .text-wrapper-15 {
    position: absolute;
    height: 16px;
    top: 9px;
    left: 9px;
    font-family: "Font Awesome 5 Brands-Regular", Helvetica;
    font-weight: 400;
    color: #000842;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .contact-us .a-elementor-icon-4 {
    left: 164px;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 224px;
    background-color: #fffffffc;
    border-radius: 17.6px;
    border: 1px solid;
    border-color: #ffffff;
  }
  
  .contact-us .overlap-group-2 {
    position: absolute;
    width: 284px;
    height: 36px;
    top: 0;
    left: 10px;
  }
  
  .contact-us .group-wrapper {
    position: absolute;
    width: 284px;
    height: 36px;
    top: 0;
    left: 0;
  }
  
  .contact-us .group-2 {
    position: relative;
    width: 286px;
    height: 36px;
  }
  
  .contact-us .group-3 {
    position: absolute;
    width: 30px;
    height: 31px;
    top: 2px;
    left: 0;
  }
  
  .contact-us .gov-d-m-camerino {
    position: absolute;
    top: 0;
    left: 40px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 24px;
    letter-spacing: 0.48px;
    line-height: normal;
  }
  
  .contact-us .text-wrapper-16 {
    color: #cfeaff;
    letter-spacing: 0.12px;
  }
  
  .contact-us .text-wrapper-17 {
    color: #2aa8ff;
    letter-spacing: 0.12px;
  }
  
  .contact-us .text-wrapper-18 {
    color: #2aa7ff;
    letter-spacing: 0.12px;
  }
  
  .contact-us .image-6 {
    position: absolute;
    width: 31px;
    height: 31px;
    top: 2px;
    left: 0;
    object-fit: cover;
  }
  
  .contact-us .div-elementor-widget-3 {
    width: 232px;
    top: 15px;
    left: 491px;
    position: absolute;
    height: 235px;
  }
  
  .contact-us .overlap-3 {
    position: absolute;
    width: 116px;
    height: 36px;
    top: -6px;
    left: 10px;
  }
  
  .contact-us .text-wrapper-19 {
    position: absolute;
    height: 30px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #1b3c74;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .contact-us .text-wrapper-20 {
    position: absolute;
    height: 28px;
    top: 8px;
    left: 23px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .contact-us .ul-elementor-icon-2 {
    width: 209px;
    left: 28px;
    position: absolute;
    height: 180px;
    top: 45px;
  }
  
  .contact-us .li-elementor-icon {
    position: absolute;
    width: 209px;
    height: 33px;
    top: 2px;
    left: 0;
  }
  
  .contact-us .text-wrapper-21 {
    position: absolute;
    height: 15px;
    top: 4px;
    left: 0;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .contact-us .text-wrapper-22 {
    position: absolute;
    height: 28px;
    top: -2px;
    left: 24px;
    font-family: "Roboto-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .contact-us .li-elementor-icon-2 {
    width: 209px;
    height: 33px;
    top: 38px;
    position: absolute;
    left: 0;
  }
  
  .contact-us .li-elementor-icon-3 {
    width: 209px;
    height: 33px;
    top: 76px;
    position: absolute;
    left: 0;
  }
  
  .contact-us .li-elementor-icon-4 {
    width: 209px;
    height: 33px;
    top: 114px;
    position: absolute;
    left: 0;
  }
  
  .contact-us .li-elementor-icon-5 {
    width: 209px;
    height: 28px;
    top: 152px;
    position: absolute;
    left: 0;
  }
  
  .contact-us .div-elementor-widget-4 {
    width: 231px;
    top: 15px;
    left: 812px;
    position: absolute;
    height: 235px;
  }
  
  .contact-us .overlap-4 {
    position: absolute;
    width: 172px;
    height: 36px;
    top: -6px;
    left: 10px;
  }
  
  .contact-us .text-wrapper-23 {
    position: absolute;
    height: 28px;
    top: 8px;
    left: 13px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0;
    line-height: 28px;
    white-space: nowrap;
  }
  
  .contact-us .ul-elementor-icon-3 {
    width: 208px;
    left: 10px;
    position: absolute;
    height: 180px;
    top: 45px;
  }
  
  .contact-us .li-elementor-icon-6 {
    width: 208px;
    height: 33px;
    top: 0;
    position: absolute;
    left: 0;
  }
  
  contact-us .text-wrapper-24 {
    height: 15px;
    top: 5px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: absolute;
    left: 0;
    color: #ffffff;
    letter-spacing: 0;
    white-space: nowrap;
  }
  
  .contact-us .li-elementor-icon-7 {
    width: 208px;
    height: 33px;
    top: 38px;
    position: absolute;
    left: 0;
  }
  
  .contact-us .li-elementor-icon-8 {
    width: 208px;
    height: 33px;
    top: 76px;
    position: absolute;
    left: 0;
  }
  
  .contact-us .overlap-5 {
    position: absolute;
    width: 1440px;
    height: 982px;
    top: 0;
    left: 0;
  }
  
  .contact-us .hero-section {
    position: absolute;
    width: 1440px;
    height: 853px;
    top: 19px;
    left: 0;
  }
  
  .contact-us .overlap-6 {
    position: relative;
    height: 853px;
  }
  
  .contact-us .rectangle-4 {
    position: absolute;
    width: 1440px;
    height: 832px;
    top: 21px;
    left: 0;
    background: linear-gradient(180deg, rgb(231, 240, 255) 0%, rgba(232, 241, 255, 0.47) 100%);
  }
  
  .contact-us .tag-hero {
    position: absolute;
    width: 667px;
    height: 175px;
    top: 161px;
    left: 135px;
  }
  
  .contact-us .welcome-to-gov-d-m {
    position: absolute;
    width: 663px;
    top: 0;
    left: 0;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 31px;
    letter-spacing: 0.62px;
    line-height: 68px;
  }
  
  .contact-us .text-wrapper-25 {
    font-weight: 500;
    color: #102851;
    letter-spacing: 0.19px;
  }
  
  .contact-us .text-wrapper-26 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 56px;
    letter-spacing: 0.63px;
  }
  
  .contact-us .text-wrapper-27 {
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #2aa7ff;
    font-size: 56px;
    letter-spacing: 0.63px;
  }
  
  .contact-us .text-wrapper-28 {
    position: absolute;
    width: 570px;
    top: 143px;
    left: 2px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #5b6069;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 32px;
  }
  
  .contact-us .pattern {
    position: absolute;
    width: 621px;
    height: 502px;
    top: 106px;
    left: 812px;
  }
  
  .contact-us .hero-image {
    position: absolute;
    width: 709px;
    height: 799px;
    top: 0;
    left: 697px;
  }
  
  .contact-us .overlap-group-3 {
    position: relative;
    height: 799px;
  }
  
  .contact-us .ellipse {
    position: absolute;
    width: 17px;
    height: 17px;
    top: 205px;
    left: 250px;
    background-color: #ffffff;
    border-radius: 8.5px;
    box-shadow: 6px 6px 12px #93939342;
  }
  
  .contact-us .ic {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 161px;
    left: 203px;
    background-color: #ffffff;
    border-radius: 21px;
    box-shadow: 6px 6px 12px #93939342;
  }
  
  .contact-us .light-bulb {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 7px;
    left: 7px;
  }
  
  .contact-us .mask-group {
    position: absolute;
    width: 709px;
    height: 799px;
    top: 0;
    left: 0;
  }
  
  .contact-us .frame {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 14px;
    position: absolute;
    top: 383px;
    left: 454px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 6px 6px 12px #0f27511c;
  }
  
  .contact-us .shield-check {
    position: relative;
    width: 26px;
    height: 26px;
  }
  
  .contact-us .icon {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 3px;
    left: 3px;
  }
  
  .contact-us .text-wrapper-29 {
    position: relative;
    width: fit-content;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: var(--dark);
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .contact-us .button-primary {
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 12px 36px;
    position: absolute;
    top: 400px;
    left: 137px;
    background-color: #000842;
    border-radius: 8px;
  }
  
  .contact-us .text-wrapper-30 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .contact-us .search-bar {
    position: absolute;
    width: 1187px;
    height: 452px;
    top: 530px;
    left: 135px;
  }
  
  .contact-us .overlap-7 {
    position: relative;
    width: 1240px;
    height: 499px;
    top: -29px;
    left: -29px;
    background-image: url(./img/gov-2.svg);
    background-size: 100% 100%;
  }
  
  .contact-us .u-may-looking-for {
    position: absolute;
    width: 1170px;
    height: 429px;
    top: 52px;
    left: 46px;
  }
  
  .contact-us .form-search {
    position: absolute;
    width: 967px;
    height: 50px;
    top: 76px;
    left: 64px;
  }
  
  .contact-us .overlap-group-4 {
    position: relative;
    width: 965px;
    height: 50px;
    background-color: #fafbfe;
    border-radius: 8px;
    border: 1px solid;
    border-color: #efefef;
  }
  
  .contact-us .search {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 15px;
  }
  
  .contact-us .search-something {
    position: absolute;
    top: 14px;
    left: 52px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: var(--gray);
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: normal;
  }
  
  .contact-us .button-search {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 121px;
    height: 50px;
    top: 76px;
    left: 1043px;
    background-color: var(--variable-collection-dark);
    border-radius: 8px;
  }
  
  .contact-us .group-4 {
    position: relative;
    width: 93px;
    height: 26px;
    top: 12px;
    left: 12px;
  }
  
  .contact-us .text-wrapper-31 {
    position: absolute;
    top: 1px;
    left: 32px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
  }
  
  .contact-us .search-2 {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
  }
  
  .contact-us .navbar {
    position: absolute;
    width: 1440px;
    height: 96px;
    top: 40px;
    left: 0;
  }
  
  .contact-us .container {
    display: flex;
    width: 912px;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    position: relative;
    top: 24px;
    left: 393px;
  }
  
  .contact-us .navbar-2 {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .contact-us .text-wrapper-32 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #102851;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .contact-us .text-wrapper-33 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #102851;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .contact-us .button-wrapper {
    all: unset;
    box-sizing: border-box;
    position: relative;
    width: 130px;
    height: 40px;
  }
  
  .contact-us .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 130px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    background-color: #000842;
    border-radius: 8px;
  }
  
  .contact-us .text-wrapper-34 {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: var(--white);
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: normal;
  }
  
  .contact-us .group-5 {
    position: absolute;
    width: 251px;
    height: 54px;
    top: 46px;
    left: 88px;
  }
  
  .contact-us .group-6 {
    height: 54px;
  }
  
  .contact-us .group-7 {
    position: relative;
    width: 253px;
    height: 54px;
  }
  
  .contact-us .group-8 {
    position: absolute;
    width: 59px;
    height: 54px;
    top: 0;
    left: 0;
  }
  
  .contact-us .gov-d-m-camerino-2 {
    position: absolute;
    width: 183px;
    top: 12px;
    left: 68px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: normal;
  }
  
  .contact-us .text-wrapper-35 {
    color: #000842;
    letter-spacing: 0.06px;
  }
  
  .contact-us .text-wrapper-36 {
    color: #2aa8ff;
    letter-spacing: 0.06px;
  }
  
  .contact-us .group-9 {
    position: absolute;
    width: 1440px;
    height: 40px;
    top: 0;
    left: 0;
    background-color: #1b3c74;
  }
  
  .contact-us .animated-button {
    padding: 10px 20px;
    background-color: #2aa7ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .contact-us .animated-button:hover {
    transform: scale(1.1);
  }